In [2]:
# Requests for handling HTTP get and other requests
import requests
import time # import for playing nice and not getting blocked
import pandas as pd
# from BeautifulSoup4 import BeatifulSoup if installed through pip install BeautifulSoup4
# 
from bs4 import BeautifulSoup

In [1]:
url = "https://results.fmjd.org/tournaments/2020/f_696/tournament_table_acc_places.html"

In [8]:
df = pd.read_html(url, encoding="utf-8")
type(df)

list

In [4]:
len(df)

124

In [9]:
df[1].head()

,Vieta,Photo,Tituls,"Vārds, uzvārds",FMJD,R1,R2,R3,R4,R5,R6,R7,R8,R9,R10,R11,Kopā,Uzvaras
0,1,NaN,NaN,"ALink(""cardf_z$1.html"", ""Marija Magdal&#x0113;...",A 2004,"ALink(""cardf_z$10.html"", ""4b"", false, """", "" ti...","ALink(""cardf_z$0.html"", ""10w"", false, """", "" ti...","ALink(""cardf_z$5.html"", ""8b"", false, """", "" tit...","ALink(""cardf_z$12.html"", ""11w"", false, """", "" t...","ALink(""cardf_z$6.html"", ""9b"", false, """", "" tit...","ALink(""cardf_z$4.html"", ""7w"", false, """", "" tit...","ALink(""cardf_z$2.html"", ""5b"", false, """", "" tit...",+0,"ALink(""cardf_z$8.html"", ""6w"", false, """", "" tit...","ALink(""cardf_z$3.html"", ""3b"", false, """", "" tit...","ALink(""cardf_z$11.html"", ""2w"", false, """", "" ti...",16,7
1,2,NaN,MFF,"ALink(""cardf_z$11.html"", ""Antra Valnere"", fals...",A 2113,"ALink(""cardf_z$8.html"", ""6w"", false, """", "" tit...","ALink(""cardf_z$3.html"", ""3b"", false, """", "" tit...",+0,"ALink(""cardf_z$10.html"", ""4w"", false, """", "" ti...","ALink(""cardf_z$0.html"", ""10b"", false, """", "" ti...","ALink(""cardf_z$5.html"", ""8w"", false, """", "" tit...","ALink(""cardf_z$12.html"", ""11b"", false, """", "" t...","ALink(""cardf_z$6.html"", ""9w"", false, """", "" tit...","ALink(""cardf_z$4.html"", ""7b"", false, """", "" tit...","ALink(""cardf_z$2.html"", ""5w"", false, """", "" tit...","ALink(""cardf_z$1.html"", ""1b"", false, """", "" tit...",16,7
2,3,NaN,NaN,"ALink(""cardf_z$3.html"", ""Jelizaveta Zaharova"",...",A 1933,+0,"ALink(""cardf_z$11.html"", ""2w"", false, """", "" ti...","ALink(""cardf_z$10.html"", ""4b"", false, """", "" ti...","ALink(""cardf_z$0.html"", ""10w"", false, """", "" ti...","ALink(""cardf_z$5.html"", ""8b"", false, """", "" tit...","ALink(""cardf_z$12.html"", ""11w"", false, """", "" t...","ALink(""cardf_z$6.html"", ""9b"", false, """", "" tit...","ALink(""cardf_z$4.html"", ""7w"", false, """", "" tit...","ALink(""cardf_z$2.html"", ""5b"", false, """", "" tit...","ALink(""cardf_z$1.html"", ""1w"", false, """", "" tit...","ALink(""cardf_z$8.html"", ""6b"", false, """", "" tit...",15,6
3,4,NaN,NaN,"ALink(""cardf_z$10.html"", ""Valda,Vasariete"", fa...",A 1945,"ALink(""cardf_z$1.html"", ""1w"", false, """", "" tit...","ALink(""cardf_z$8.html"", ""6b"", false, """", "" tit...","ALink(""cardf_z$3.html"", ""3w"", false, """", "" tit...","ALink(""cardf_z$11.html"", ""2b"", false, """", "" ti...",+0,"ALink(""cardf_z$0.html"", ""10w"", false, """", "" ti...","ALink(""cardf_z$5.html"", ""8b"", false, """", "" tit...","ALink(""cardf_z$12.html"", ""11w"", false, """", "" t...","ALink(""cardf_z$6.html"", ""9b"", false, """", "" tit...","ALink(""cardf_z$4.html"", ""7w"", false, """", "" tit...","ALink(""cardf_z$2.html"", ""5b"", false, """", "" tit...",14,6
4,5,NaN,MFF,"ALink(""cardf_z$2.html"", ""Zoja Uva&#x010d;ana"",...",A 1973,"ALink(""cardf_z$0.html"", ""10b"", false, """", "" ti...","ALink(""cardf_z$5.html"", ""8w"", false, """", "" tit...","ALink(""cardf_z$12.html"", ""11b"", false, """", "" t...","ALink(""cardf_z$6.html"", ""9w"", false, """", "" tit...","ALink(""cardf_z$4.html"", ""7b"", false, """", "" tit...",+0,"ALink(""cardf_z$1.html"", ""1w"", false, """", "" tit...","ALink(""cardf_z$8.html"", ""6b"", false, """", "" tit...","ALink(""cardf_z$3.html"", ""3w"", false, """", "" tit...","ALink(""cardf_z$11.html"", ""2b"", false, """", "" ti...","ALink(""cardf_z$10.html"", ""4w"", false, """", "" ti...",14,6

In [7]:
df[3].head()

                                                   0  1
0  ALink("cardf_z$0.html", "10w", false, "", " ti...  2

In [10]:
df[1].describe()

           Vieta  Photo      Kopā    Uzvaras
count  11.000000    0.0  11.00000  11.000000
mean    6.000000    NaN  10.00000   4.181818
std     3.316625    NaN   5.07937   2.315953
min     1.000000    NaN   3.00000   1.000000
25%     3.500000    NaN   6.00000   2.500000
50%     6.000000    NaN   9.00000   4.000000
75%     8.500000    NaN  14.50000   6.000000
max    11.000000    NaN  16.00000   7.000000

In [11]:
df[1].describe(include='all')

,Vieta,Photo,Tituls,"Vārds, uzvārds",FMJD,R1,R2,R3,R4,R5,R6,R7,R8,R9,R10,R11,Kopā,Uzvaras
count,11.000000,0.0,2,11,10,11,11,11,11,11,11,11,11,11,11,11,11.00000,11.000000
unique,NaN,NaN,1,11,10,11,11,11,11,11,11,11,11,11,11,11,NaN,NaN
top,NaN,NaN,MFF,"ALink(""cardf_z$11.html"", ""Antra Valnere"", fals...",B 1799,"ALink(""cardf_z$5.html"", ""8b"", false, """", "" tit...","ALink(""cardf_z$1.html"", ""1b"", false, """", "" tit...","ALink(""cardf_z$5.html"", ""8b"", false, """", "" tit...","ALink(""cardf_z$1.html"", ""1b"", false, """", "" tit...","ALink(""cardf_z$5.html"", ""8b"", false, """", "" tit...","ALink(""cardf_z$1.html"", ""1b"", false, """", "" tit...","ALink(""cardf_z$5.html"", ""8b"", false, """", "" tit...","ALink(""cardf_z$0.html"", ""10b"", false, """", "" ti...","ALink(""cardf_z$1.html"", ""1b"", false, """", "" tit...","ALink(""cardf_z$1.html"", ""1w"", false, """", "" tit...","ALink(""cardf_z$1.html"", ""1b"", false, """", "" tit...",NaN,NaN
freq,NaN,NaN,2,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN
mean,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00000,4.181818
std,3.316625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.07937,2.315953
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.00000,1.000000
25%,3.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.00000,2.500000
50%,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.00000,4.000000
75%,8.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.50000,6.000000
max,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.00000,7.000000

In [12]:
df[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Vieta           11 non-null     int64
 1   Photo           0 non-null      float64
 2   Tituls          2 non-null      object
 3   Vārds, uzvārds  11 non-null     object
 4   FMJD            10 non-null     object
 5   R1              11 non-null     object
 6   R2              11 non-null     object
 7   R3              11 non-null     object
 8   R4              11 non-null     object
 9   R5              11 non-null     object
 10  R6              11 non-null     object
 11  R7              11 non-null     object
 12  R8              11 non-null     object
 13  R9              11 non-null     object
 14  R10             11 non-null     object
 15  R11             11 non-null     object
 16  Kopā            11 non-null     int64
 17  Uzvaras         11 non-null     int64
dtypes: float64(1), int64(3), object(14)
memory usage: 1.7+ KB